<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.fullName}}</td>
        <td> {{user.email}}</td>
        <td> {{user.phone}}</td>
        <td> {{user.role}}</td>
      </tr>
    </tbody>
  </table>
</div>
