<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Model</th>
        <th scope="col">Plate number</th>
        <th scope="col">Passenger amount</th>
        <th scope="col">Color</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles">
        <th scope="row">{{vehicle.id}}</th>
        <td>{{vehicle.model}}</td>
        <td> {{vehicle.plateNumber}}</td>
        <td> {{vehicle.passengerAmount}}</td>
        <td> {{vehicle.color}}</td>
      </tr>
    </tbody>
  </table>
</div>
