<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;" routerLinkActive="Active" routerLink="">Автобаза</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse nav nav-pills mr-auto" id="navbarColor02">

    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Users
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/user">Users list</a>
        <a class="dropdown-item" (click)="onOpenModal('addUser')">Add user</a>
      </div>
    </div>

    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Vehicles
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/vehicle">Vehicles list</a>
        <a class="dropdown-item" (click)="onOpenModal('addVehicle')">Add vehicle</a>
      </div>
    </div>

    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Orders
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/order">Orders list</a>
        <a class="dropdown-item" (click)="onOpenModal('addOrder')">Add order</a>
      </div>
    </div>
    <a class="btn btn-secondary" style="color:white;" (click)="onOpenModal('orderClose')">Trip controller</a>
    <a class="btn btn-secondary" style="color: white" (click)="onLogout()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
      </svg>
    </a>
  </div>
</nav>

<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
            <input type="hidden" ngModel="CLIENT" name="role" class="form-control" id="role" placeholder="Name">
            <div class="form-group">
               <label for="name">Name</label>
               <input type="text" ngModel name="fullName" class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="form-group">
               <label for="phone">Phone</label>
               <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required>
            </div>
            <div class="form-group">
               <label for="email">Email Address</label>
               <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
            </div>
            <div class="form-group">
               <label for="password">Password</label>
               <input type="password" ngModel name="password" class="form-control" id="password" placeholder="Password" required>
            </div>
              <input type="hidden" ngModel="0" name="balance" class="form-control" id="balance" placeholder="Balance">
              <input type="hidden" ngModel="ACTIVE" name="status" class="form-control" id="status" placeholder="Status">
            <div class="modal-footer">
               <button type="button" id="add-user-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
       </div>
    </div>
  </div>
</div>

<!-- Add Vehicle Modal -->
<div class="modal fade" id="addVehicleModal" tabindex="-1" role="dialog" aria-labelledby="addVehicleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addVehicleModalLabel">Add Vehicle</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addVehicleForm="ngForm" (ngSubmit)="onAddVehicle(addVehicleForm)">
            <input type="hidden" ngModel="CLIENT" name="role" class="form-control" id="role" placeholder="Name">
            <div class="form-group">
               <label for="model">Model</label>
               <input type="text" ngModel name="model" class="form-control" id="model" placeholder="Model" required>
            </div>
            <div class="form-group">
               <label for="plateNumber">Plate number</label>
               <input type="text" ngModel name="plateNumber" class="form-control" id="plateNumber" placeholder="Plate number" required>
            </div>
            <div class="form-group">
               <label for="passengerAmount">Passenger amount</label>
               <input type="number" ngModel name="passengerAmount" class="form-control" id="passengerAmount" placeholder="Passenger amount" required>
            </div>
            <div class="form-group">
               <label for="passengerAmount">Color</label>
               <input type="text" ngModel name="color" class="form-control" id="color" placeholder="Color" required>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-vehicle-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addVehicleForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
       </div>
    </div>
  </div>
</div>

<!-- Add Order Modal -->
<div class="modal fade" id="addOrderModal" tabindex="-1" role="dialog" aria-labelledby="addOrderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addOrderModalLabel">Add Order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addOrderForm="ngForm" (ngSubmit)="onAddOrder(addOrderForm)" id="createOrder">
            <div class="form-group">
               <label for="departure-place">Departure place</label>
               <input type="text" ngModel name="departurePlace" class="form-control" id="departure-place" placeholder="Departure place" required>
            </div>
            <div class="form-group">
               <label for="arrival-place">Arrival place</label>
               <input type="text" ngModel name="arrivalPlace" class="form-control" id="arrival-place" placeholder="Arrival place" required>
            </div>
            <div class="form-group">
               <label for="passenger-amount">Passenger ammount</label>
               <input type="number" ngModel name="passengerAmount" class="form-control" id="passenger-amount" placeholder="Passenger ammount" required>
            </div>
            <!-- USER ID IS IS STATIC -->
            <!-- USER ID IS IS STATIC -->
              <input type="hidden" ngModel="1" name="userId" class="form-control" id="user-id" placeholder="userId">
              <!--<input type="hidden" ngModel="1" name="vehicleId" class="form-control" id="vehicle-id" placeholder="vehicleId">-->
              <!-- CAR SELECTION -->
              <div class="form-group">
                <select class="custom-select" name="vehicleId" id="inputGroupSelect04" ngModel>
                  <option selected>Choose vehicle...</option>
                  <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle.id">{{vehicle.model}}</option>
                </select>
              </div>
            <!-- USER ID IS IS STATIC -->
            <!-- USER ID IS IS STATIC -->
            <div class="modal-footer">
               <button type="button" id="add-order-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addOrderForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
       </div>
    </div>
  </div>
</div>

<!-- Close order Modal -->
<div class="modal fade" id="orderCloseModal" tabindex="-1" role="dialog" aria-labelledby="orderCloseModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="orderCloseModalLabel">Close order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #orderCloseForm="ngForm" (ngSubmit)="onOrderClose(orderCloseForm)">
            <div class="form-group">
               <label for="orderCloseId">Order ID</label>
               <input type="number" ngModel name="orderId" class="form-control" id="orderCloseId" placeholder="Order ID" required>
               <input type="hidden" (ngModel)="statusValue" name="orderStatus" class="form-control" id="orderCloseId" placeholder="Order ID" required>
               <input type="hidden" (ngModel)="conditionValue" name="vehicleCondition" class="form-control" id="orderCloseId" placeholder="Order ID">
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-check form-check-inline">
                <input #orderStatus class="form-check-input" ngModel name = "orderStatus" type="checkbox" id="orderStatus" value="option1"(change)="onTogleStatus(orderStatus.value)">
                <label class="form-check-label" for="inlineCheckbox1">Trip ended</label>
              </div>
              <div class="form-check form-check-inline">
                <input #vehicleCondition class="form-check-input" ngModel name = "vehicleCondition" type="checkbox" id="vehicleCondition" value="option2" (change)="onTogleCondition(vehicleCondition.value)">
                <label class="form-check-label" for="inlineCheckbox2">Car broken</label>
              </div>
            </div>
            <div class="modal-footer">
               <button type="button" id="close-order-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="orderCloseForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
       </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
