<div class="container" *ngIf="form">
  <div class="m-3">

    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{error}}
    </div>

    <form [formGroup]="form" (ngSubmit)="onLogin()">
      <div class="form-group m-3">
        <label for="email" class="mb-2">Логін</label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          formControlName="email"
          >
<!--
          [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid }"
-->
        <!--<span
          *ngIf="form.get('email').touched && form.get('email').invalid"
          class="text-danger"
        >
          <span *ngIf="form.get('email').errors['required']" class="text-danger"> Поле не може бути пустим</span>
          <span *ngIf="form.get('email').errors['email']" class="text-danger">Введіть правильний eMail</span>
        </span>-->
      </div>
      <div class="form-group m-3">
        <label for="password" class="mb-2">Пароль</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          >
<!--
          [ngClass]="{'is-invalid': form.get('password').touched && form.get('password').invalid }"
-->
       <!-- <span
          *ngIf="form.get('password').invalid && form.get('password').touched"
          class="text-danger"
        >
          <span *ngIf="form.get('password')?.errors['required']" class="text-danger"> Поле не може бути пустим</span>
        </span>-->
      </div>
      <button
        type="submit"
        class="btn btn-outline-dark"
        [disabled]="form.invalid || form.disabled"
      >
        Увійти
      </button>
    </form>
  </div>
</div>
