<div *ngIf="orders">
  <div class="container" *ngFor="let order of orders">
    <!-- Order table -->
    <table class="table table-hover table-fixed">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Departure place</th>
        <th scope="col">Arrival place</th>
        <th scope="col">Passenger amount</th>
        <th scope="col">Date of creating</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">{{order.id}}</th>
        <td>{{order.departurePlace}}</td>
        <td> {{order.arrivalPlace}}</td>
        <td> {{order.passengerAmount}}</td>
        <td> {{ order.date | date:'yyyy-MM-dd' }}</td>
        <td [ngClass]="order.status == 'DONE' ? 'text-success' : 'text-warning'"> {{order.status}}</td>
      </tr>
      </tbody>
    </table>
    <a class="btn btn-primary" data-toggle="collapse" [attr.href]="'#'+ 'collapseDetails' + order.id" role="button" aria-expanded="false" aria-controls="collapseDetails">
      More
    </a>
    <div class="collapse" [attr.id]="'collapseDetails' + order.id">
      <!-- Vehicle sub table -->
      <table class="table table-hover bg-info table-fixed mt-2" style="width:95%;margin-left: 5%;">
        <thead>
        <tr>
          <th style="width: 5%" scope="col">#</th>
          <th style="width: 19%" scope="col">Model</th>
          <th style="width: 19%" scope="col">Plate number</th>
          <th style="width: 19%" scope="col">Passenger amount</th>
          <th style="width: 19%" scope="col">Color</th>
          <th style="width: 19%" scope="col">Condition</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">{{order.vehicle.id}}</th>
          <td>{{order.vehicle.model}}</td>
          <td> {{order.vehicle. plateNumber}}</td>
          <td> {{order.vehicle.passengerAmount}}</td>
          <td> {{order.vehicle.color}}</td>
          <td> {{order.vehicle.condition}}</td>
        </tr>
        </tbody>
      </table>
      <!-- User sub table -->
      <table class="table table-hover bg-secondary table-fixed" style="width:95%;margin-left: 5%;">
        <thead>
        <tr>
          <th style="width: 5%" scope="col">#</th>
          <th style="width: 19%" scope="col">Name</th>
          <th style="width: 19%" scope="col">Email</th>
          <th style="width: 19%" scope="col">Phone</th>
          <th style="width: 19%" scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">{{order.user.id}}</th>
          <td>{{order.user.fullName}}</td>
          <td> {{order.user.email}}</td>
          <td> {{order.user.phone}}</td>
          <td> {{order.user.role}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
